
body {
  background-color: rgb(232, 236, 240);
  margin:0px;
  padding:0px;
}
#header {
  background-color: cadetblue;
  height:120px;
  width:100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
#home {
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
}
#dancer {
  z-index: 20;
  background: url('/assets/dancingSprite.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 135px;
  width:118px;
  animation: moveX 1s steps(5) infinite;
}
@keyframes moveX{
  from{background-position-x:0px;}
    to{background-position-x:-565px;}
}